body {
    background-color: lightgreen;
}
form {
    text-align: center;
    display: inline-block;
    margin-top: 8%;
    margin-left: 37.5%;
    margin-right: 25%;
    width: 25%;
}

label, h1 {
    text-align: center;
    display: block;
}

button {
    background: mediumseagreen;
    width: 100%;
    padding: 6px
}

input {
    background: #44d7ac;
    width: 50%;
}