body {
    background-color: lightgreen;
}
form {
    text-align:center;
    display: inline-block;
    margin-top: 8%;
    margin-left: 37.5%;
    margin-right: 25%;
    width: 25%;
}
label {
    text-align: left;
    display: block;
}
button {
    background: mediumseagreen;
    width: 100%;
    padding: 6px
}
a:link {
    color: blue;
}
/* mouse over link */
a:hover {
    color: purple;
}
div.p {
    padding: 16px;
    background: #f1f1f1;
}
span.pass-forgot {
    padding-right: 22%;
}
div.re {
    text-align:left;
}
span.register {
    float: right;
}
input.rememberme {
    width:auto;
}
input {
    background: #44d7ac;
    width: 50%;
}
